<!DOCTYPE html>
<html lang="en" ng-app="roomDisplayApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="static/favicon.png">

        <title>Room Display</title>

        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css" rel="stylesheet">
        <link href="static/index.css" rel="stylesheet">
    </head>
    <body>


        <div class="tabbable" ng-controller="RoomDisplayController as roomDisplay">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown active navbar-left" id="page_changer">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                    <span id="page_name">
                                        ...
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="active">
                                        <a href="#overview" data-toggle="tab">
                                            Overview
                                        </a>
                                    </li>
                                    <li ng-repeat="room in roomDisplay.rooms">
                                        <a href="#room-{{room.id}}" data-toggle="tab">
                                            {{room.name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="navbar-right" ng-controller='TimeController'>
                            <div id="nav_time">
                                {{ clock | date:'HH:mm a' }}
                            </div>
                            <div id="nav_date">
                                {{ clock | date:'EEE, d MMMM' }}
                            </div>
                        </span>
                    </div>
                </div>
            </nav>

            <div class="jumbotron tab-content">
                <button type="button" class="btn btn-default btn-lg" aria-label="Full Screen" id="fullscreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </button>

                <div class="tab-pane active" id="overview">
                    <span class="room" ng-repeat="room in roomDisplay.rooms">
                        <span class="room-name">
                            {{room.name}}
                        </span>
                        <span class="room-booking {{booking.available ? 'available' : 'busy'}}" ng-repeat="booking in room.bookings">
                            <span class="booking-time">
                                <span class="booking-start_minute">
                                    {{booking.start_minute}}
                                </span>
                                -
                                <span class="booking-end_minute">
                                    {{booking.end_minute}}
                                </span>
                            </span>

                            <span class="booking-heading">
                                <span ng-if="booking.available">
                                    Free
                                </span>
                                <span ng-if="!booking.available">
                                    {{booking.description}}
                                </span>
                            </span>

                            <span class="booking-details">
                                <span ng-if="booking.starts_in_minutes <= 0">
                                    For {{booking.ends_in_minutes}} minutes
                                </span>
                                <span ng-if="booking.starts_in_minutes > 0">
                                    In {{booking.starts_in_minutes}} minutes
                                </span>

                                <span ng-if="booking.username" class="booking-username">
                                    (By {{booking.username}})
                                </span>
                            </span>
                        </span>
                    </span>
                </div>

                <div class="tab-pane" id="room-{{room.id}}" ng-repeat="room in roomDisplay.rooms">
                    Top
                    <br/>
                    <br/>
                    <br/>
                    {{room.name}} Details
                    <br/>
                    <br/>
                    <br/>
                    Bottom
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
        <script src="static/index.js"></script>
    </body>
</html>
