<!DOCTYPE html>
<html lang="en" ng-app="roomDisplayApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="static/favicon.png">

        <title>Room Display</title>

        <link href='//fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>

        <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css" rel="stylesheet">
        <link href="static/index.css" rel="stylesheet">
    </head>

    <body>
        <div class="tabbable" ng-controller="RoomDisplayController as roomDisplay">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown active navbar-left" id="page_changer">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                                    <span id="page_name">
                                        ...
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="active">
                                        <a href="#Dashboard" data-toggle="tab">
                                            Dashboard
                                        </a>
                                    </li>
                                    <li ng-repeat="room in roomDisplay.rooms">
                                        <a href="#room-{{$index}}" data-toggle="tab">
                                            {{room.name}}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="navbar-right" ng-controller='TimeController'>
                            <div id="nav_time">
                                {{ clock | date:'HH:mm' }}
                            </div>
                            <div id="nav_date">
                                {{ clock | date:'EEE, d MMMM' }}
                            </div>
                        </span>
                    </div>
                </div>
            </nav>

            <div class="jumbotron tab-content">
                <button type="button" class="btn btn-default btn-lg" aria-label="Full Screen" id="fullscreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </button>

                <div class="tab-pane active" id="Dashboard">
                    <span class="room" ng-repeat="room in roomDisplay.rooms">
                        <h1 class="room-name">
                            {{room.name}}
                        </h1>
                        <span ng-if="room.first_booking">
                            <span ng-include src="'static/booking.html'" ng-init="booking = room.first_booking"></span>
                        </span>
                        <span ng-if="!room.first_booking">
                            No more bookings!
                        </span>
                    </span>
                </div>

                <div class="tab-pane detail busy"  id="room-{{$index}}" ng-repeat="room in roomDisplay.rooms">
                    <span ng-repeat="booking in room.bookings">
                        <span ng-include src="'static/booking.html'"></span>
                    </span>
                </div>
            </div>
        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
        <script src="static/index.js"></script>
    </body>
</html>
