<div class="tabbable" ng-controller="RoomDisplayController as roomDisplay">
    <nav class="navbar navbar-default navbar-fixed-top">
        <span ng-include src="'static/templates/navbar.html'"></span>
    </nav>
    <div class="jumbotron tab-content">
        <div class="tab-pane active" id="Dashboard">
            <span ng-include src="'static/templates/dashboard.html'"></span>
        </div>

        <div class="tab-pane detail" id="room-{{$index}}" ng-repeat="room in rooms">
            <span ng-include src="'static/templates/room.html'"></span>
        </div>
    </div>
</div>
