<ul class="dashboard-room" ng-repeat="room in rooms">
    <li ng-if="room.first_booking" class="dashboard-room-booking {{room.first_booking.available ? 'room-available' : 'room-busy'}}">
        <a ng-click="clickRoom(room)">
            <span>
                <span class="dashboard-room-name">
                    {{room.name}}
                </span>

                <span class="dashboard-booking-details">
                    <span class="dashboard-booking-availability">
                        <span ng-if="room.first_booking.available">
                            Available
                        </span>
                        <span ng-if="!room.first_booking.available">
                            Booked
                        </span>
                    </span>

                    <span class="dashboard-booking-duration">
                        <span ng-if="room.first_booking.starts_in_minutes <= 0">
                            For {{room.first_booking.ends_in_minutes_fuzzy}}
                        </span>
                        <span ng-if="room.first_booking.starts_in_minutes > 0">
                            In {{room.first_booking.starts_in_minutes_fuzzy}}
                        </span>
                        ({{room.first_booking.start_time}} - {{room.first_booking.end_time}})
                    </span>

                    <span ng-if="room.first_booking.username" class="dashboard-booking-username">
                        (By {{room.first_booking.username}})
                    </span>

                </span>
            </span>
        </a>
    </li>
    <span ng-if="!room.first_booking">
        <h1 class="dashboard-room-name">
            {{room.name}}
        </h1>

        No more bookings!
    </span>
</ul>
