<ul class="dashboard-room" ng-repeat="room in rooms">
    <a ng-click="clickRoom(room)">
        <li ng-if="room.first_booking" class="room-booking {{room.first_booking.available ? 'room-available' : 'room-busy'}}">
            <span ng-include src="'static/templates/dashboard-booking.html'"></span>
        </li>
        <li ng-if="!room.first_booking" class="room-booking room-available">
            <span class="room-name">
                {{room.name}}
            </span>

            <span class="booking-availability">
                No more bookings!
            </span>
        </li>
    </a>
</ul>
