<div class="container-fluid">
    <div>

        <span ng-click="clickRoom(null)" role="button" title="Click me for fun things">

            <span id="page_name">
                <img src="static/favicon/android-chrome-192x192.png" alt="Dashboard" width="75" />
            </span>
            <h3 style="display: inline-block;" ng-if="selected_room">{{selected_room.name}}</h3>
            <h3 style="display: inline-block;" ng-if="!selected_room">Dashboard</h3>
        </span>

        <span class="navbar-right" ng-controller='TimeController'>
            <div>
                <button type="button" class="btn btn-default btn-lg" aria-label="Full Screen" ng-click="fullscreen()">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </button>
            </div>

            <div>
                <span ng-if="loading.loading">
                    <button type="button" class="btn btn-default btn-lg" disabled="disabled">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                    </button>
                </span>
                <span ng-if="!loading.loading">
                    <button type="button" class="btn btn-default btn-lg" aria-label="Refresh" ng-click="refresh()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </span>
            </div>

            <div>
                <div id="nav_time">
                    {{ clock | date:'HH:mm' }}
                </div>
                <div id="nav_date">
                    {{ clock | date:'EEE, d MMMM' }}
                </div>
            </div>
        </span>
    </div>
</div>
