<ul>
    <li ng-repeat="booking in room.bookings" class="room-booking {{booking.available ? 'room-available' : 'room-busy'}}">
        <span ng-if="$index == 0" class="booking-first">
            <span ng-include src="'static/templates/booking.html'"></span>
            <span ng-if="booking.available">
                <span ng-include src="'static/templates/instabook.html'" ng-if="instabookTimes"></span>
            </span>
        </span>
        <span ng-if="$index != 0">
            <span ng-include src="'static/templates/booking.html'"></span>
        </span>
    </li>
    <li ng-if="room.bookings.length == 0" class="room-booking room-available">
        <span class="booking-first">
            <span class="booking-heading">
                No more bookings!
            </span>
        </span>
    </li>
</ul>
