body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #1c1e22;
}
ul {
    padding-left: 10px;
}
li {
    list-style-type: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}


/*NAV*/
.navbar {
    background: #1c1e22;
}
.navbar-right>div {
    float: right;
    margin: 5px;
}


/*TIME*/
#nav_time {
    font-size: 35px;
}
#nav_date {
    margin-bottom: 10px;
}
#nav_time, #nav_date {
    text-align: right;
    margin-right: 5px;
}


/*SHARED*/
.jumbotron {
    margin-top: 60px;
}
li.room-booking:before {
  font-family: "Glyphicons Halflings";
  font-size: 4em;
  position: absolute;
  height: 100%;
  top: 1em;
  left: 0em;
  margin-top: -1em;
  width: 3em;
  vertical-align: middle;
  text-align: center;
}
li.room-available:before {
  content: "\e013";
  color: #00ff00;
  background-color: #299a0b;
}
li.room-busy:before {
  content: "\e090";
  color: #ff0000;
  background-color: #cf0404;
}


/*DASHBOARD*/
.dashboard-room .room-name {
    margin-top: -10px;
}
.dashboard-room .room-booking {
    margin-bottom: 10px;
}
.dashboard-room .booking-details>span {
    margin-right: 15px;
}
.dashboard-room .booking-availability {
    font-size: 20pt;
}


/*ROOM*/
.room-name {
    display: block;
    font-size: 20pt;
}
li.room-booking {
    display: block;
    background-color: #181818;
    margin-bottom: 20px;
    padding: 0.5em 0.5em 0.5em 13em;
    position: relative;
}
.booking-time {
    display: block;
}
.booking-details {
    display: block;
}
.booking-heading {
    display: block;
    font-size: 30pt;
}
.booking-first {
    zoom: 2;
}


/*INSTABOOK*/
.instabook {
    padding: 10px;
}
.instabook_button {
    margin-right: 10px;
    padding: 0px 25px;
    line-height: normal;
}
.instabook_text {
    font-size:12px;
}
.instabook_time {
    font-size:36px;
}
