body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: #1c1e22;
}
ul {
    padding-left: 10px;
}
li {
    list-style-type: none;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}


/*NAV*/
.navbar {
    background: #1c1e22;
}

.navbar-default .navbar-nav>.active>a {
    background: none;
}
.navbar-nav>li>a {
    border: none;
}
.navbar-right>div {
    float: right;
}


/*TIME*/
#nav_time {
    font-size: 35px;
}
#nav_date {
    margin-bottom: 10px;
}
#nav_time, #nav_date {
    text-align: right;
    margin-right: 5px;
}

.dropdown-menu {
    width: 30em;
}
.dropdown-menu li a {
    font-size: 20pt;
}
.dropdown-menu li {
    padding-left: 3em;
    position: relative;
}
.dropdown-menu li:before {
    font-size: 2em!important;
}


/*SHARED*/
.jumbotron {
    margin-top: 60px;
}
li.room-available {
}
li.room-available:before {
  content: "\e013";
  font-family: "Glyphicons Halflings";
  font-size: 3em;
  color: #00ff00;
  background-color: #299a0b;
  position: absolute;
  height: 100%;
  top: 1em;
  left: 0em;
  margin-top: -1em;
  width: 1.5em;
  vertical-align: middle;
  text-align: center;
}
li.room-busy {

}
li.room-busy:before {
  content: "\e090";
  font-family: "Glyphicons Halflings";
  font-size: 3em;
  color: #ff0000;
  background-color: #cf0404;
  position: absolute;
  height: 100%;
  top: 1em;
  left: 0em;
  margin-top: -1em;
  width: 1.5em;
  vertical-align: middle;
  text-align: center;
}


/*DASHBOARD*/
.dashboard-room-booking {
    display: block;
    background-color: #181818;
    margin-bottom: 10px;
    padding: 10px;
}
li.dashboard-room-booking {
    display: block;
    background-color: #181818;
    margin-bottom: 10px;
    margin-left: 0px;
    padding: 0.5em 0.5em 0.5em 5em;
    position: relative;
}
.dashboard-booking-details {
    display: block;
}
.dashboard-booking-details>span {
    margin-right: 15px;
}
.dashboard-room-name {
    display: block;
    margin-top: -10px;
    font-size: 20pt;
}
.dashboard-booking-availability {
    font-size: 20pt;
}


/*ROOM*/
.room-name {
    display: block;
    font-size: 20pt;
}
.room-booking {
    display: block;
    background-color: #181818;
    margin-bottom: 20px;
    padding: 20px;
}
li.room-booking {
    display: block;
    background-color: #181818;
    margin-bottom: 20px;
    padding: 0.5em 0.5em 0.5em 5em;
    position: relative;
}
.booking-time {
    display: block;
}
.booking-heading {
    display: block;
    font-size: 30pt;
}
.booking-details {
    display: block;
}
.booking-first {
    zoom: 2.5;
}


/*INSTABOOK*/
.instabook {
    padding: 10px;
}
.instabook_button {
    margin-right: 10px;
    padding: 0px 25px;
    line-height: normal;
}
.instabook_text {
    font-size:12px;
}
.instabook_time {
    font-size:36px;
}
